/* Header Styles */
.Header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background-color: #932593; /* Header background color */
  color: #fff; /* Header text color */
  border-bottom: 1px solid #ddd;
}

.logo-img {
  font-size: 20px;
  font-weight: bold;
}

.logo-img > a {
  color: #fff; /* Logo text color */
  text-decoration: none;
  padding: 5px 10px;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

.logo-img > a:hover {
  background-color: #0056b3; /* Hover color for logo */
}

.header-items-left {
  display: flex;
  align-items: center;
}

.header-items-right {
  display: flex;
}

.header-items-right > div {
  margin-left: 15px;
}

/* Style the links (optional) */
.header-items-right a {
  color: #fff; /* Link text color */
  text-decoration: none;
  padding: 5px 10px;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

.header-items-right a:hover {
  background-color: #0056b3; /* Hover color for links */
}
